<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Probeer het zelf</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="author" content="Kay Warrie" />
    <meta charset="utf-8">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <style type="text/css">
    table { margin: 0 auto; } 
    textarea, iframe { width: 500px; height: 500px; }
    .link { font-family: Verdana, Geneva, sans-serif; 
            font-weight: bold; font-size: 12px; color: #008000; }
    .h1 { color: #008000; }
    </style>
    <!--codemirror-->
<!--     <link rel="stylesheet" href="css/codemirror.css">
    <script src="src/codemirror.js"></script>
    <script src="src/codemirror-mode.js"></script>  -->
    
</head>

<body>
    <h1>Probeer het zelf</h1>
    <form id="tryitform" name="tryitform" action="result" target="view" method="post">
    <table border="1">
        <tr>
            <td> <input type="submit" value="Probeer het" /> </td>
            <td> <strong>Preview</strong> </td>
        </tr>
        <tr>
            <td id="code">
                 <textarea id="code" name="code"> {{code}}
                </textarea> 
            </td>
            <td>
                <iframe frameborder="0" src="result" name="view" id="view"> </iframe>
            </td>
        </tr>
    </table>
    </form>
<!--     
   <script>
        function getParameterByName(name) {
            name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
            var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
                results = regex.exec(location.search);
            return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
        }
        xmlhttp=new XMLHttpRequest();
        xmlhttp.open("GET", getParameterByName('file') ,1);
        xmlhttp.send();
        xmlhttp.onreadystatechange=function()
        {
              if (xmlhttp.readyState==4 && xmlhttp.status==200)
                {
                     var myCodeMirror = CodeMirror( document.getElementById('code'),
                     {value: xmlhttp.responseText} );
                }
        }
    </script>  -->
</body>
</html>